
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Josefin+Sans&family=Kdam+Thmor+Pro&family=Montserrat:wght@300&family=Roboto+Condensed&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --main-color: #6DA7CD;
    --bold-color: #355389;
}

ul li{
    list-style: none;
}

.square{
    margin: 15px 0;
    width: 20px;
    height: 20px;
    background-color: var(--main-color);
    border-radius: 15%;
}

.decoration{
    margin: 15px 0;
}

.line1, .line2, .line3{
    display: inline-block;
    border-radius: 15%;
    width: 20px;
    height: 20px;
    background-color: var(--main-color);
}

.line1{
    height: 2px;
    width: 70px;
    border-radius: 50%;
}

.line2{
    height: 2px;
    width: 50px;
    border-radius: 50%;
    margin-bottom: 5px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(109,167,205);
    background: linear-gradient(0deg, rgba(109,167,205,1) 0%, rgba(27,108,161,1) 100%); 
    height: 90px;
    padding: 10px 40px;
}

nav{
    list-style: none;
}

nav li{
    display: inline-block;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    padding: 0px 15px;
    cursor: pointer;
    
}

nav li:after{
    content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
nav li:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;

}
nav li:hover{
    color: white;
}

.logo{
    font-family: 'Clicker Script', cursive;
    font-size: 25px;
    margin-left: 40px;
}




.container{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header{
  margin-top: 150px;

}

.header-right-col, .header-left-col{
    flex-basis: 48%;
}

.header-left-col{
    max-width: 500px;
    
}

.header-left-col h1{
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.header-right-col img{
    width: 100%;
    border-radius: 40px;
}

.btn{
    margin-top: 20px;
    padding:15px 5px;
    background-color: #fff;
    box-shadow: none;
    border: 3px solid var(--main-color);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}



  
.btn:hover{
    background-color: var(--main-color);
    border: 3px solid var(--bold-color);
}

.menu-btn{
    position: fixed;
    top: 5%;
    left: 95%;
    width: 40px;
    height: 40px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    background-color: var(--main-color);
}

.menu-btn span{
    display: inline-block;
    width: 80%;
    height: 3px;
    background-color: #fff;
 

}


